!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.c9/
.classpath
.DS_Store
.env*
.project
.settings/
.vscode/*
*.launch
*.log
*.sqlite
*.sublime-workspace
*request.http
/.idea
/.nyc_output
/coverage
/dist
/node_modules
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
